<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    Roger Wang
    Graduated with a Bachelor of Science concentration in Finance from New Jersey Institute of Technology. Working to be a Software Engineer and learning to be an application developer.
  </p>
</div>